body {
	overflow: hidden;
}
#canvas {
	background-color: #666;
}
#canvas, #overlay {
	position: absolute;
	top: 0px;
	left: 0;
}
#buttons {
	position: absolute;
	height: 20px;
	width: 100%;
	background-color: white;
	z-index: 1;
	
}
#overlay {
	opacity: 0.8;
}
#input {
	display: none;
	position: absolute;
}
