body {
	overflow: hidden;
	font-family: sans-serif;
}
#canvas {
	background-color: #666;

}
#canvas, #overlay {
	position: absolute;
	top: 0px;
	left: 0;
}
#overlay.resiz-ns {
	cursor: url(resiz-ns.cur), default;
}


#buttons {
	position: absolute;
	height: 25px;
	line-height: 23px;
	bottom: 50px;
	width: 100%;
	background-color: #ddd;
	border-bottom: 1px solid #aaa;
	z-index: 1;
}

#alto-string,
#alto-line {
	font-size: 12px;
	color: purple;
	position: absolute;
	z-index: 1;
	height: 24px;
	line-height: 23px;
	bottom: 25px;
	background-color: #ddd;
	border-bottom: 1px solid #aaa;
	width: 100%;
}

#alto-line {
	bottom: 0;
}

#alto-string span,
#alto-line span {
	color: blue;
}

#alto-string span,
#alto-string input,
#alto-line span,
#alto-line input {
	display: none;
}

#overlay {
	opacity: 0.8;
}
#input {
	display: none;
	position: absolute;
}

input[name='HPOS'],
input[name='VPOS'],
input[name='WIDTH'],
input[name='HEIGHT'],
input[name='WC'] {
	width: 30px;
	text-align: right;
}
input[name='ID'] {
	width: 100px;
}
input[name='CONTENT'],
input[name='SUBS_CONTENT'],
input[name='SUBS_TYPE'],
input[name='CC'] {
	width: 150px;
}


